<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IziFood</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="../css/estilo.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div id="body">
		<div class="container principal">

			<div th:each="receita: ${receitas}">
				<div class="row">
					<div class="card card-style" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${receita.nome}"></h5>
							<p class="card-text" th:text="${receita.preparo}"></p>
<!-- 							<a href="#" class="btn btn-primary">Visitar</a> -->
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>