<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

	<!-- cabeçalho  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom"
		th:fragment="cabecalho">
		<img src="../img/transp_IziFood6.png" class="navbar-brand logo"/>
		<form class="form-inline">
			<input class="form-control mr-sm-2 searchNav" type="search" placeholder="Pesquisar">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
		</form>
		<div class="divlogin"><a href="/login">Entre </a> | <a href="#"> Cadastre-se</a> </div>
	</nav>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>