<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IziFood</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="/css/estilo.css" rel="stylesheet" />
<link
	href="https:/fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div id="body">
		<div class="container principal">

			<h1 class="tituloRegist">Editar dados da conta:</h1>
			
			<div class="divRegist">

				<form class="form-horizontal formRegist" action="/usuario/alterar" method="POST" th:object="${usuario}">
					<input type="hidden" th:field="*{id}">
					<div class="form-group">
						<label for="inputNome">Nome</label>
						<input type="text" class="form-control" id="inputNome" placeholder="Nome" th:field="*{nome}">
						<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="validation-message"></label>
					</div>
					
					<div class="form-group">
						<label for="inputSobrenome">Sobrenome</label>
						<input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome"  th:field="*{sobrenome}">
						<label th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}" class="validation-message"></label>
					</div>
					
					<input type="hidden" th:field="*{senha}">
					<input type="hidden" th:field="*{username}">
					<input type="hidden" th:field="*{email}">
					<button type="submit" class="btn btn-primary">Salvar</button>
					
				</form>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>