<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>IziFood</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="css/estilo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div id="body">
		<div class="container principal">
			
			<div class="card card-login col-sm-4 text-center">
			<div class="card-title">
				<img src="../img//IziFood7.jpg" class="logologin">
				</div>
				<div class="card-body">
				<form action="/login" method="POST" class="form-signin">
					<div class="form-group">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="E-mail" name="email">
						</div>
					</div>
					<div class="form-group">
						<div class="form-group"> 
							<input type="password" class="form-control" placeholder="Senha" name="senha">
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Entrar</button>
					</div>
	<!-- 				<div class="form-group"> -->
	<!-- 					<div class="col-md-9"> -->
	<!-- 						<div class="alert alert-danger" role="alert" th:if="${param.error}"> -->
	<!-- 							Não foi possível fazer o login! -->
	<!-- 						</div> -->
	<!-- 					</div> -->
	<!-- 				</div> -->
					<div class="form-group">
						<span class="textologin">Não possui conta? <a href="/registration">Cadastre aqui</a></span>
					</div>
				</form>
				</div>
			</div>
			
			</div>
		</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>