body {
	background-image: url('../img/vegetables_2977888_1280.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Indie Flower', cursive;
	margin-top: -1%;
}

#body {
	color: white;
}

.principal {
	margin-top: 7%;
}

/* ******* Login ********* */

.logologin{
	margin-top:20px;
}

.textologin{
	color: black !important;
}

.card-centralizado {
    margin: 0 auto;
    float: none; 
    color: black;
}

/* ******* Registro ********* */

.divRegist{
	width: 600px;
	height: 500px;
	margin: 0 auto; /* Added */
    float: none; /* Added */
	margin-top:50px;
    
}

.validation-message{
	color:red;
}

.tituloRegist{
	text-align:center;
	margin-top: -4%;
}

/* ******* NAVBAR ********* */
    
.navbar.custom {
	height: 7%; !
	important margin: 0 auto;
}

.searchNav {
	width: 88% !important;
}

.divNav{
	margin-left:2%;
}

.logo {
	margin-left: 10%;
}

.formNav{
	width:75%;
	padding-left:3%;
}

.divLogin{
	display: inline !important;
	float: right !important;
	width: 1%;
	margin-left: 2% !important;
}

.nav-link{
	color: white !important;
}

/* ******* MENU ********* */


.menu{
	padding-top: 1%;
	border: 1px solid !important;
	border-radius: 5px;
	height: 450px;
	width: 500px;

	margin-bottom: 10px;
	overflow: auto;
	background-color: rgba(1, 1, 1, 0.8);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: #3b3b3b;
	-webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #666;
	-webkit-border-radius: 6px;
}

.pesquisar {
	margin-bottom: 2%;
}

/* ************** Receitas ***************** */

.card-style{
	color: black !important;
	margin-left: 6%;
	
}

/* ************** Minha conta ***************** */

.divConta {
	margin: 0 auto;
    float: none;
    border: 1px solid;
    width: 60%;
    height: 400px !important;
    border-radius: 5px;
    background-color: white;
    color: black;
}

h3{
	font-family: 'Indie Flower', cursive;
}