body{
  	background: url('../img/vegetables_2977888_1280.jpg') center center no-repeat fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Indie Flower', cursive;
	margin-top: -2%;
}

#body {
	color: white;
}

.principal {
	margin-top: 3%;
}



ul {
 	list-style-type: none;
}

/* input[type="checkbox"] { */
/*     display:none; */
/* } */

/* input:checked + label::after{ */
/* 	background-color: #a2a2a2; */
/* } */

/* .form-check-label-style{ */
/* 	font-size:20px; */
/* 	margin-botton:10px; */
/* 	padding-left:35px; */
/* 	cursor: pointer; */
/* 	display: block; */
/* 	position: relative; */
/* 	left: -70px; */
/* } */

/* .form-check-label-style::before{ */
/* 	content: ""; */
/* 	width: 24px; */
/* 	height: 24px; */
/* 	border: solid 1px #a2a2a2; */
/* 	display: inline-block; */
/* 	position: absolute; */
/* 	left: 520px; */
/* 	top: 0px; */
/* } */

/* .form-check-label-style::after{ */
/* 	content: ""; */
/* 	width: 18px; */
/* 	height: 18px; */
/* 	border: solid 1px #a2a2a2; */
/* 	display: inline-block; */
/* 	box-sizing: border-box; */
/* 	position: absolute; */
/* 	left: 523px; */
/* 	top: 3px; */
/* } */


/* ******* NAVBAR ********* */
    
.navbar{
	padding: 3px;
}

.searchNav {
	width: 88% !important;
}

.nav-item{
	margin-right:30px;
}

.logo {
	margin-left: 10%;
}

.formNav{
	width:75%;
	padding-left:3%;
	flex-flow:row;
}

.divLogin{
	width: 1%;
	margin-left: 2% !important;
}

.nav-link{
	color: white !important;
	margin-left:20px;
}

.navCustom{
	justify-content: space-around;
}

.navheader{
	display:flex;
	flex-direction: column;

}

/* ******* Login ********* */


.logologin{
	margin-top:20px;
}

.textologin{
	color: black !important;
}

.card-centralizado {
    margin: 0 auto;
    margin-top:9%;
    color: black;
}

/* ******* Registro ********* */

.divRegist{
	width: 600px;
	height: 500px;
	margin: 0 auto; /* Added */
	margin-top:30px;
    
}

.validation-message{
	color:red;
}

.tituloRegist{
	text-align:center;
}


/* ******* MENU ********* */


.menu{
	padding-top: 1%;
	border: 1px solid !important;
	border-radius: 5px;
	height: 450px;
	width: 500px;
	margin-bottom: 10px;
	overflow: auto;
	background-color: rgba(1, 1, 1, 0.8);
}

.item{
	background-color: inherit;
    padding: 5px;
    margin-left: -21px;
    font-size: 19px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: #3b3b3b;
	-webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: #666;
	-webkit-border-radius: 6px;
}

.pesquisar {
	margin-bottom: 2%;
}

/* ************** Receitas ***************** */

.card-style{
	color: black;
	margin: 3%;
	width:300px;
}

.card-img{
	width:300px !important;
	height:300px !important;
}

.receitas{
	display:flex;
	flex-wrap: wrap;
}

.card-style-exibir{
	color: black;
}

.card-body-style{
	display: flex;	
	justify-content:space-evenly;
}

.descricao{
	width:50%;
}

.lista-ingredientes{
	list-style-type: circle;
}


.media{
	border: solid 1px black;
	border-radius: 5px;
	width:95%;
	margin:0 auto;
	padding: 20px;
	background-color: RBG(255,250,240);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.card-nova-receita {
    margin: 0 auto;
    margin-top:4%;
    color: black;
}

.teeeste{
	display: flex;
	justify-content: space-between;
}


/* ************** Minha conta ***************** */

.divConta {
	margin: 0 auto;
    float: none;
    border: 1px solid;
    width: 60%;
    height: 400px !important;
    border-radius: 5px;
    background-color: white;
    color: black;
}

h3{
	font-family: 'Indie Flower', cursive;
}