<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>IziFood</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="css/estilo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div id="body">
		<div class="container principal">

			<div class="row">
				<h1>Quais ingredientes você tem à disposição?</h1>
			</div>
			<div class="row">
				<div class="menu col-md-6">
					<input type="text" class="form-control pesquisar" id="mySearch" onkeyup="myFunction()" placeholder="Pesquisar ...">
					<form method="POST" action="/receitas/listar">
						<div class="form-group" th:each="ingrediente: ${ingredientes}">
							<ul id="myMenu">
								<li>
									<input class="form-check-input" type="checkbox" name="ingrediente" th:value="${ingrediente.id}" th:id="${ingrediente.nome}"> 
									<label class="form-check-label" th:for="${ingrediente.nome}" th:text="${ingrediente.nome}"></label>
								</li>
							</ul>
						</div>
						
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>
			
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>