<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IziFood</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="css/estilo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div id="body">
		<div class="container principal">

			<div class="row">
				<h1>Quais ingredientes você tem à disposição?</h1>
			</div>
			<div class="row">
				<div class="menu col-md-6">
					<input type="text" id="myInput" class="form-control pesquisar" placeholder="Pesquisar ..">
					<form method="POST" action="/receitas/buscar">
						<div class="form-group" th:each="ingrediente: ${ingredientes}">
							<ul id="myList">
								<li class="item">
									<input class="form-check-input" type="checkbox" th:name="IdIngredientes" th:value="${ingrediente.id}" th:id="${ingrediente.nome}"> 
									<label class="form-check-label form-check-label-style" th:for="${ingrediente.nome}" th:text="${ingrediente.nome}"><span></span></label>
								</li>
							</ul>
						</div>
						
				</div>
			</div>
			<button type="submit" class="btn btn-primary" id="aplica" onclick="checar()" disabled>Busca selecionada</button>
			</form>
<!-- 			<input type="text" id="ingName" name="term"> -->
			
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	<script>
	var checa = document.getElementsByName("IdIngredientes");
	var numElementos = checa.length;
	var bt = document.getElementById("aplica");
	for(var x=0; x<numElementos; x++){
	   checa[x].onclick = function(){
	      // "input[name='toggle']:checked" conta os checkbox checados
	      var cont = document.querySelectorAll("input[name='IdIngredientes']:checked").length;
	      // ternário que verifica se há algum checado.
	      // se não há, retorna 0 (false), logo desabilita o botão
	      bt.disabled = cont ? false : true;
	   }
	}
	
// 	$(document).ready(function() {
// 		$('#ingName').autocomplete({
// 			source : "search"
// 		});
// 	});
	
	$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myList li").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
</body>
</html>